.ctnContentIMC {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.ctnFormIMC {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bmiImg {
    height: 30%;
    width: 40%;
}

.labelIMC {
    width: 200px;
}

.entryIMC {
    display: flex;
    gap: 10px;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #212121;
    width: 200px;
    align-self: center;
  }

  button:hover {
    background-color: #393939;
  }

  .entryError {
    background: #670000;
    color: #e0e0e0;
    border-radius: 4px;
    padding: 8px;
  }

  p {
    font-size: large;
    font-weight: bolder;
    padding: 4px;
    border-radius: 4px;
  }

  .blueFR {
    color: rgb(0, 207, 193);
    border: solid 1px rgb(0, 207, 193);
  }

  .blueEN {
    color: rgb(28, 70, 176);
    border: solid 1px rgb(28, 70, 176);
  }

  .green {
    color: rgb(2, 173, 2);
    border: solid 1px rgb(2, 173, 2);
  }

  .yellow {
    color: rgb(255, 180, 4);
    border: solid 1px rgb(255, 180, 4);
  }

  .orange {
      color : rgb(255, 123, 0);
      border: solid 1px rgb(255, 123, 0);
  }

  .red {
      color: red;
      border: solid 1px red;
  }