.ctn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.LanguageCtn {
    padding: 5px 10px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    appearance: none;
    cursor: pointer;
  }
  
  .LanguageCtn option {
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .LanguageCtn img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }