.greenDark {
    color: green;
}  

.greenLight {
    color: rgb(2, 203, 2);
}

.yellow {
    color: rgb(185, 185, 4);
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.generic_name {
    color: grey;
}

.imgProduct {
    height: 100%;
    width: 80%;
    border-radius: 8px;
}

.imgCtn {
    min-height: 30%;
    min-width: 30%;
    align-self: center;
}

.productCardCtn {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    padding: 20px;
    gap: 10px;
    margin-top: 20px;
    border: solid 1px black;
    border-radius: 8px;
    justify-self: center;
}

.cardsCtn {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 cartes par ligne avec largeur égale */
    gap: 10px; /* Espace entre les cartes */
}

#productName {
    min-height: 30px;
}