.nutritionValuesCtn {
    /* border: solid 1px black; */
}

.green {
    color: white;
    background: green;
}

.brown {
    color: white;
    background: rgb(124, 36, 36);
}

.brownLight {
    color: white;
    background: rgb(146, 73, 73);
}

.pink {
    color: white;
    background: rgb(196, 61, 119);
}

.pinkLight {
    color: white;
    background: rgb(212, 125, 171);
}

.red {
    color: white;
    background: rgb(219, 8, 8);
}

.blue {
    color: white;
    background: rgb(81, 127, 212);
}

.black {
    color: white;
    background: black;
}

#labelAgvNV {
    min-height: 30px;
}