.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
.greenDark {
    color: green;
}  

.greenLight {
    color: rgb(2, 203, 2);
}

.yellow {
    color: rgb(185, 185, 4);
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.generic_name {
    color: grey;
}

.pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination button {
    margin: 10px 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #fff;
    color: black;
  }

  .pagination button:hover {
    background: #333333;
    color: white;
  }
  
  .pagination button.active {
    background-color: black;
    color: #fff;
  }