.side-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }
  
  .side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .side-menu ul li {
    margin-bottom: 10px;
  }
  
  .side-menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .side-menu.open {
    transform: translateX(0);
  }