.ctn {
    display: flex;
    justify-content: space-between;
    background-color: #212121;
    color: #a4a4a4;
}

.linksCtn {
    display: flex;
    gap: 20px;
    margin-left: 10px;
}

.languagesCtn {
    margin-right: 10px;
}

.link:nth-child(1){
    color: #ffffff;
}