.textAlignCenter {
  text-align: center;
}

.pointer:hover {
  cursor: pointer;
}

.overflowHidden {
  overflow: hidden;
}

/* FLEX */

.flexHorizontal {
  display: flex;
  flex-direction: row;
}

.flexVertical {
  display: flex;
  flex-direction: column;
}

.flexHorizontalCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexVerticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alignItemCenter {
  align-items: center;
}

.spaceBetween {
  justify-content: space-between;
}

.gap10 {
  gap: 10px;
}

/* RADIUS */

.br4 {
  border-radius: 4px;
}

.br6 {
  border-radius: 6px;
}

.br8 {
  border-radius: 8px;
}

/* PADDING */

.p4 {
  padding: 4px;
}

.p6 {
  padding: 6px;
}

.p8 {
  padding: 8px;
}

/* FONT */

.fontSize8 {
  font-size: 16px;
}

.fontSize16 {
  font-size: 16px;
}

.fontSize24 {
  font-size: 24px;
}

.fontWeightBold {
  font-weight: bold;
}

/* MARGIN */

.margin4 {
  margin: 4px;
}

.mL4 {
  margin-left: 4px;
}

.mR4 {
  margin-right: 4px;
}

.mT4 {
  margin-top: 4px;
}

.mB4 {
  margin-bottom: 4px;
}

.margin8 {
  margin: 4px;
}

.mL8 {
  margin-left: 8px;
}

.mR8 {
  margin-right: 8px;
}

.mT8 {
  margin-top: 8px;
}

.mB8 {
  margin-bottom: 8px;
}

.margin12 {
  margin: 4px;
}

.mL12 {
  margin-left: 12px;
}

.mR12 {
  margin-right: 12px;
}

.mT12 {
  margin-top: 12px;
}

.mB12 {
  margin-bottom: 12px;
}

.margin16 {
  margin: 4px;
}

.mL16 {
  margin-left: 16px;
}

.mR16 {
  margin-right: 16px;
}

.mT16 {
  margin-top: 16px;
}

.mB16 {
  margin-bottom: 16px;
}